.folderSize{
  position: absolute;
  margin: auto;
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
}
#folderFrame{
  position: absolute;
  width: 50%;
  height: 45%;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  perspective: 60rem;
}

#folderBack{
  background-image: url(../../images/FolderBack.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 100%;
   
}

#folderFront{
  height: 100%;
  background-image: url(../../images/FolderFront.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 95%;
  transform-origin: bottom;
  transform: rotateX(-30deg);
  transition: all 1s ease;
  cursor: pointer;
}


#folderShadow{
  position: absolute;
  height: 40.5%;/* 90% of 45% */
  margin: auto;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: rgb(210, 210, 210);  
  background-color: rgba(95, 95, 95, 0.15);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  transform-origin: top;
  transform: rotateX(87deg);
  box-shadow: 0 1rem 2rem rgba(95, 95, 95, 0.2);
}

#folderTitle{
  position: absolute;
  margin: auto;
  top: 20%;
  left: 0;
  right: 0;
  text-align: center;
  transition: all 1s ease;  
}

#uploadAssembly{
  position: absolute;
  margin: auto;
  height: 72%;
  width: 90%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1%;
  /*outline: 1px solid red;*/
  transition: all 0.65s linear;
  text-align: center;
  visibility: hidden;
}
#spinner{
  position: absolute;
  margin: auto;
  height: 3rem;
  width: 3rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent url(../../images/spinner.gif) no-repeat center;
  background-size: contain;
  visibility: hidden;  
}
#divFilenames{
  position: absolute;
  padding: 1rem;
  font-size: 0.75rem;
  text-align: left;
  line-height: 1.5;
  text-shadow: 0 1px 0 white;

}
#progressAssembly{
  position: absolute;
  margin: auto;
  height: 26%;
  width: 99%;
  top: 0;
  left: 0;
  right: 0;
  background-color: #888;
  padding-top: 1%;
  color: white;
  font-weight: bold;
}

#uploadNames{
  position: absolute;
  margin: auto;
  height: 72%;
  width: 99%;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  /*outline: 1px solid green;*/ 
  box-shadow: inset 0 -0.0625rem 0.5rem #333;
}
#slot{
  position: absolute;
  margin: auto;
  /*height: 0.8rem;*/
  height: 0.4rem;
  width: 92%;
  bottom: 30%;
  left: 0;
  right: 0;
  background-image: linear-gradient(black, #444, #bbb);
  /*border-radius: 0.45rem;*/
  border-radius: 0.25rem;
  padding: 1.15%;
}
#bead{
  position: absolute;
  margin: auto;
  height: 0.39rem;
  /*height: 0.78rem;*/
  /*width: 98.75%;*/
  width: 0;
  top: 0;
  bottom: 0;
  left: 1px;
  background-image: linear-gradient(lightgray, teal, #222);
  /*border-radius: 0.39rem;*/ 
  border-radius: 0.2rem;
}

#outerFileFrame{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 100%;
  /*outline: 1px solid red;*/
  padding: 1rem;
  padding-top: 0;
}
#fileControls{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 85%;  
  /*outline: 1px solid black;*/
  padding: 1rem; 
  padding-top: 0;
}
#fileFrame{
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 20%;
  /*outline: 1px solid blue;*/
  padding: 0.25rem; 
  cursor: pointer;
}

#btnDeleteFile{
  //visibility: hidden;  
}

.button{/*#fileBackground*/
  height: 100%;
  line-height: 2;
  color: hsl(55, 76%, 83%);
  background-image: linear-gradient(lightblue, blue);
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 3px;
  box-shadow: 1px 1px 2px black;
  font-size: 1rem;
  
}
.button:hover{
  color: white;
}
.button:active{
  background-image: linear-gradient(blue, lightblue); 
  box-shadow: inset 1px 1px 2px black; 
  font-size: 0.99rem;  
}
#documentFrame{
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  /*outline: 1px solid blue;*/
  padding: 0.5rem;  
}
#documentSelector{
  width: 100%;

}
option{
  text-align: center;  
}
.centered{
  position: absolute;
  display: inline-block;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;

}
#fileElement{
  display: inline-block;  
  position: absolute;
  top: 0;
  left: 0;
  outline: 1px dashed red;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
